---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";

// import { SignedIn, SignedOut, SignInButton, UserButton} from "@clerk/astro/components";
---

<Layout>
	<main>
		
			<Header currentPath="/" client:only="react" />
		
		
		<Hero />
		<About />

		<Footer />
	</main>
</Layout>
