---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
---

<Layout>
	<main>
		
			<Header  />
		

		<Hero />
		<About />

		<Footer />
	</main>
</Layout>
