.primary-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--accent);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    width: max-content;
}

.primary-button svg {
    padding-right: 0.8rem;
    height: 1.8rem;
}
.secondary-button svg {
    padding-right: 0.8rem;
}

.primary-button:hover {
    background-color: var(--accent-opacity);
}

.secondary-button {
    
    padding: 10px 20px;
    border: 1px solid #4a4949;
    border-radius: 4px;
    background-color: transparent;

    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2rem;
}
.secondary-button:hover {
    background-color: #303030;
}