.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--dark-bg);
    border-bottom: 1px solid #262626;
}

.logo h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--white-text);
}


.nav {
    display: flex;
    gap: 1rem;
}