.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--dark-bg);
    border-bottom: 1px solid #262626;
}

.logo h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--white-text);
}

.nav .sign-in-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.nav .sign-in-button:hover {
    background-color: #0056b3;
}