---
---
<footer class="footer">
    <div class="container">
        <h2 class="footer-title">API Sandbox</h2>
        <p class="footer-description">
        Made with ❤️ by <a class="github-link" href="https://www.github.com/milderz" target="_blank" rel="noopener noreferrer">@milderz</a>
        </p>
    </div>
</footer>

<style>
    .footer {
        height: 18rem;
        background-color: var(--dark-bg);
        text-align: center;
        border-top: 1px solid #262626;
        
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        height: 100%;
    }

    .footer-title {
        font-size: 2.4rem;
        font-weight: bold;
        color: var(--white-text);
    }

    .footer-description {
        font-size: 1.6rem;
        color: var(--white-text);
    }
    .github-link {
        color: var(--accent);
        text-decoration: none;
    }
</style>