---
import Button from './Button.astro';
---
<section class="hero">
    <div class="container">
        <h2 class="hero-title">Generate mock APIs instantly.</h2>
        <h2 class="hero-title subtitle">Practice like a pro.</h2>
        <p class="hero-description">
            With API SANDBOX, you can create custom mock endpoints with realistic data to practice fetch, test your UI, and sharpen your frontend skills — no backend, no setup.
        </p>
        <div class="hero-buttons">
         <Button text="Go to sandbox" href="/create"/>
        </div>
    </div>
</section>

<style>
    .hero {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-bg);
        color: var(--white-text);
        height: 65rem;
        
    }

    .hero-title {
        font-size: 7.2rem;
        margin-bottom: 1rem;
        line-height: 7.6rem;
    }

    .subtitle {
        color: var(--accent);
    }

    .hero-description {
        font-size: 2rem;
        margin: 3rem 0;
        width: 50ch;
    }


 

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>