---
import Button from './Button.astro';
---
<section class="hero">
    <div class="container">
        <h1 class="hero-title">JSON Playground for Mock APIs</h1>
        <p class="hero-description">
            Create, visualize, and test your API responses in real-time. Design better APIs with an intuitive JSON editor that shows you exactly what your data will look like.
        </p>
        <div class="hero-buttons">
         <Button text="Go to sandbox" href="/create"/>
        </div>
    </div>
</section>

<style>
    .hero {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--dark-bg);
        color: var(--white-text);
        height: 65rem;
    }

    .hero-title {
        font-size: 7.2rem;
        margin-bottom: 1rem;
    }

    .hero-description {
        font-size: 2rem;
        margin-bottom: 2rem;
        width: 60ch;
    }


 

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>